/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}
/* CSS Reset */

body {
  background: url(./images/samurai_jungle_light_130198_2560x1440.jpg) no-repeat
    center center / cover;
  font-family: "Roboto", serif;
}

.open-btn {
  padding: 0.75rem 2.75rem;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 0.5rem;
  cursor: pointer;
  position: fixed;
  left: 10%;
  bottom: 15%;
  transition: 0.5s;
  box-shadow: 0 0 0.25rem #fff;
}

.btn-clicked {
  background-color: rgba(255, 255, 255, 0.75);
  color: #000;
  border: 2px solid rgba(255, 255, 255, 0);
  cursor: default;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.75);
  color: #000;
  border: 2px solid rgba(255, 255, 255, 0);
}

.content {
  height: 100vh;
  position: absolute;
  width: 100%;
}

.fa-solid {
  margin-left: 1rem;
  cursor: pointer;
  font-size: 1.25rem;
  color: #ff6961;
}

.modal-container {
  padding: 1.5rem 1rem;
  border-radius: 0.25rem;
  background-color: rgb(255, 255, 255);
  font-size: 1.25rem;
  box-shadow: 0 0 0.25rem;
  display: none;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: animate-modal;
  animation-duration: 0.5s;
  width: 10rem;
  text-align: center;
}

.darken {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/samurai_jungle_light_130198_2560x1440.jpg");
}

@keyframes animate-modal {
  from {
    top: -300px;
    opacity: 0;
  }
}
